extends layout

block content

  h1=title
  div.developer-detail
    h4.header #{category.name}
    p #{category.description}

  div.copies-container
    h4.header Games
    each game in category_games
      hr
      a(href=game.url) #{game.title}
      p #{game.description}

    else
      p There are no games for this category.
