extends layout

block content

  h1 #{game.title}

  p #[strong Description: ]
  p #{game.description}
  p #[strong Developer: ]
    a(href=game.developer.url) #{game.developer.company}
  p #[strong Category: ]
    each val, index in game.category
      a(href=val.url) #{val.name}
      if index < game.category.length -1
        |,

  div.copies-container
    h4 Copies
    each val in game_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Sold'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}

    else
      p There are no copies of this game available.

  hr
  a(href='/gameinstance/create') Add a copy of this game!

  hr
  a.delete(href=game.delete_url) Delete Game
